<form [formGroup]="listingForm" (ngSubmit)="onSubmit()">
  <div formGroupName="details">
    <mat-form-field class="">
      <input matInput placeholder="Title" formControlName="title">
      <mat-hint>Give your post a lovely title</mat-hint>
      <mat-error>
          <control-messages [control]="listingForm.get('details').controls.title"></control-messages>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
      <mat-hint>Describe the place and all that comes with it</mat-hint>
      <mat-error>
        <control-messages [control]="listingForm.get('details').controls.description"></control-messages>
      </mat-error>
    </mat-form-field>
  </div>

  <div formGroupName="address">
    <mat-form-field class="">
      <input matInput placeholder="Street" formControlName="street" name="street">
      <mat-hint></mat-hint>
      <mat-error>
          <control-messages [control]="listingForm.get('address').controls.street"></control-messages>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="">
      <input matInput placeholder="Street No." formControlName="streetnumber" name="streetnumber">
      <mat-hint></mat-hint>
      <mat-error>
          <control-messages [control]="listingForm.get('address').controls.street"></control-messages>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="">
      <input matInput placeholder="Postcode" formControlName="postcode" name="postcode">
      <mat-hint></mat-hint>
      <mat-error>
          <control-messages [control]="listingForm.get('address').controls.postcode"></control-messages>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="">
      <input matInput placeholder="City" formControlName="city" name="city">
      <mat-hint></mat-hint>
      <mat-error>
          <control-messages [control]="listingForm.get('address').controls.city"></control-messages>
        </mat-error>
    </mat-form-field>

  </div>

  <input type="submit" value="Submit" [disabled]="!listingForm.valid" class="btn" />
  <div *ngIf="listingForm.valid">Form looks good! Let's do this.</div>
</form>
