<form [formGroup]="listingForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="">
    <input matInput placeholder="Title" formControlName="title" name="title">
    <mat-hint>Give your post a lovely title</mat-hint>
    <mat-error *ngIf="listingForm.controls.title.errors">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="">
    <input matInput placeholder="Postcode" formControlName="postcode" name="postcode">
    <mat-hint></mat-hint>
    <mat-error *ngIf="listingForm.controls.postcode.errors">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="">
    <textarea matInput placeholder="Description" formControlName="description" name="description"></textarea>
    <mat-hint>Describe the place and all that comes with it</mat-hint>
    <mat-error *ngIf="listingForm.controls.postcode.errors">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <input type="submit" value="Submit" [disabled]="!listingForm.valid" class="btn" />
  <div *ngIf="listingForm.valid">Form looks good! Let's do this.</div>
</form>
