<div class="mat-sidenav-container">
<!-- Navigation -->
<nav class="mat-typography">
  <ul>
    <li>
      <a alt="Welcome" [routerLink]="['/welcome']">Welcome</a>
      <a alt="Login" [routerLink]="['/login']">Login</a>
      <a alt="Dashboard" [routerLink]="['/dashboard']">Dashboard</a>
      <a alt="File-upload" [routerLink]="['/upload']">Upload form</a>
      <a alt="Profile" [routerLink]="['/profile']">Profile</a>
      <a alt="Listing" [routerLink]="['/listing']">Listings</a>
      <a alt="ListingDetails" [routerLink]="['listing', 14]">Listings (Details)</a>
      <a alt="Add Listing" [routerLink]="['/add-listing']">Add Listing</a>
      <a alt="NotFound" [routerLink]="['/asasf']">Not found</a>
    </li>
  </ul>
</nav>
<app-notification-message></app-notification-message>
<router-outlet></router-outlet>
<!-- Routed views go here -->
</div>
