<div class="listings">
    <ul *ngFor='let listing of listings'>
      <li>Id: {{ listing.id }}</li>
      <li>CreatedDate: {{ listing.createdDate }}</li>
      <li>Title: {{ listing.title }}</li>
      <li>Description: {{ listing.description }}</li>
      <li>Postcode: {{ listing.postcode }}</li>
      <li>Monthly Rent: {{ listing.monthlyRent }}</li>
      <li>
        <img [src]="listing.image" alt="">
      </li>
      <div (click)="deleteListing($event, listing)">DELETE</div>
      <div (click)="editListing($event, listing)">Edit</div>
    </ul>
</div>
<!-- <div>
  <h1>{{ title }}</h1>
  <h3>Vi har {{ noOfListings }} grunde til leje</h3>
  <ul>
    <li *ngFor='let listing of listings' (click)="selectListing(listing)">
      {{listing}}
    </li>
  </ul>
</div>
 -->
