<ng-container *ngIf="(auth.user | async) || {} as user">


  <div *ngIf="!user.uid">
    <button (click)="auth.googleLogin()">Login with Google</button>
    <button (click)="auth.facebookLogin()">Login with Facebook</button>

    <!-- Step 1 - Sign in with Email and Password combo -->
    <form [formGroup]="signupForm" (ngSubmit)="signup()">

      <label for="email">Email</label>
      <input type="email" formControlName="email">

      <div *ngIf="email.invalid && email.dirty">
        Your email does not look okay...
      </div>

      <label for="password">Password</label>
      <input type="password" formControlName="password" required>
      <div *ngIf="password.invalid && password.touched">
        Password must be between 6 and 60 characters and contain at least one number
      </div>

      <div *ngIf="signupForm.valid">Form looks good! Let's do this.</div>
      <button type="submit" [disabled]="!signupForm.valid">Submit</button>

    </form>
  </div>

  <!-- Step 2 - Set first and last name (unless Google login, in that case it is already set) -->
  <form [formGroup]="nameDetailForm" *ngIf="user.uid && !user.displayName" (ngSubmit)="setDetails(user)">
    <label for="firstName">First name:</label>
    <input type="text" formControlName="firstName">
    <label for="lastName">Last name:</label>
    <input type="text" formControlName="lastName">
    <button type="submit" [disabled]="!nameDetailForm.valid">Submit</button>
  </form>

  <!-- Step 3 - Set additional information about user -->
  <form [formGroup]="detailForm" *ngIf="user.uid && !user.favouriteColor" (ngSubmit)="setDetails(user)">
    <label for="favouriteColor">Favourite Color</label>
    <input type="text" formControlName="favouriteColor">
    <button type="submit" [disabled]="!detailForm.valid">Submit</button>
  </form>

  <!-- Finished - User has answered all neccessary questions -->
  <div *ngIf="user.uid && user.favouriteColor && user.displayName">
    You have added your display name AND favourite color. Your profile is now done.
    <h3>displayName: {{ user.displayName }}</h3>
    <img [src]="user.photoURL" />
    <p>UID: {{ user.uid }}</p>
    <p>FavouriteColor: {{ user.favouriteColor}}</p>
    <div (click)="editProfile()">Edit info</div>
    <div (click)="signOut()">Sign out</div>
  </div>

</ng-container>

<!--
<div *ngIf="auth.user | async as user">
  <h3>Hej, {{ user.displayName }}</h3>
  <img [src]="user.photoURL" />
  <p>UID: {{ user.uid }}</p>
  <p>FavouriteColor: {{ user.favouriteColor}}</p>
  <div (click)="editProfile()">Edit info</div>
  <div (click)="signOut">Sign out</div>
</div>
 -->
