/* You can add global styles to this file, and also import other style files */


/* CSS DIRECTORY
	1. =GLOBAL
	2. =COLORS
	3. =FONTS
	4. =BUTTONS
  5. =ETC...
*/


/* ===============
   1. GLOBAL
   =============== */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


/* ===============
   2. COLORS
   =============== */

$bgcolor: whitesmoke;

/* ===============
   3. FONTS
   =============== */

$font-primary: '';
$font-secondary: '';

/* ===============
   4. BUTTONS
   =============== */
